html {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #535755;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1250px;
  padding-inline: 15px;
  margin-inline: auto;
}
