.hero {
  margin-top: 80px;

  position: relative;
}

.hero::after {
  width: 100%;
  bottom: 106px;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  gap: 28px;
  /* max-height: 513px; */
}
.hero__wrap-desc {
  max-width: 492px;
  height: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero__accent {
  color: #3596ed;
}

.hero__text {
  max-width: 440px;
}

.hero__wrap-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hero__img {
  width: 347px;
  height: 513px;
}

.hero__img--man {
  width: 353px;
}

.hero__choice {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  padding: 22px;
  max-width: 162px;

  text-align: center;
  color: #2c332f;

  border: 1px solid #535755;
  background: rgb(255 255 255 / 0.9);
}

/* секция Последние новости */

.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 28px;
}
.card-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  max-width: 284px;

  border: 1px solid #d3cbd9;
  background-color: #fff;
  overflow: hidden;

  -webkit-box-flex: 1;

  -ms-flex: 1 1 25%;

  flex: 1 1 25%;
}

.card-news__desc {
  /* max-width: 156px; */
  padding-top: 20px;
  padding-inline: 20px;

  margin-bottom: 12px;
}
.card-news__time {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #858e8a;
}
.card-news__title {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #2c332f;
}
.card-news__footer {
  margin-top: auto;
  max-width: 176px;
  padding-inline: 20px;
  padding-bottom: 20px;
}
.card-news__link {
  display: inline-block;
  padding-right: 16px;
  text-decoration: none;
  color: #3596ed;
  -webkit-transition:
    opacity 0.3s,
    -webkit-transform 0.3s;
  transition:
    opacity 0.3s,
    -webkit-transform 0.3s;
  transition:
    opacity 0.3s,
    transform 0.3s;
  transition:
    opacity 0.3s,
    transform 0.3s,
    -webkit-transform 0.3s;
}

.card-news__link::after {
  content: "";

  display: inline-block;

  width: 22px;
  height: 9px;
  background-image: url(../images/arrow-icon.svg);

  position: relative;
  left: 8px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition:
    transform 0.3s,
    -webkit-transform 0.3s;
}

.card-news__link:hover::after {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.card-news__link:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* вопросы и ответы */

.faq {
  position: relative;
}

.faq::after {
  top: 215px;
}

.faq__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  gap: 28px;
}
.faq__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
}
.faq__details {
  border-block: 1px solid #d3cbd9;
}
.faq__question {
  padding: 20px 49px 20px 20px;
  list-style: none;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.faq__answer {
  padding: 0 20px 20px 20px;
}

/* summary {
  list-style: none;
} */

.faq__question::after {
  content: "";
  width: 17px;
  height: 22px;
  background-image: url(../images/Arrow-down.svg);
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition:
    transform 0.3s,
    -webkit-transform 0.3s;
}

.faq__question::-webkit-details-marker {
  display: none;
}

details[open] summary::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

/* МЕДИА ЗАПРОСЫ */

@media (width <= 1440px) {
  .hero__wrap-desc {
    width: 40%;
  }

  .hero__wrap-img {
    width: 60%;
  }

  .hero__img {
    width: 50%;
  }
}

@media (width <= 992px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .hero__text {
    text-align: center;
    max-width: 100%;
  }

  .hero::after {
    display: none;
  }

  .faq::after {
    display: none;
  }

  .news__container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 15px;
  }

  .card-news {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }

  .faq__accordion {
    gap: 20px;
  }

  .faq__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .faq::before {
    display: none;
  }
}

@media (width <= 768px) {
  .card-news {
    max-width: 360px;
  }

  .card-news img {
    width: 100%;
    height: auto;
  }
}

@media (width <=576px) {
  .hero {
    margin-top: 30px;
  }

  .hero__choice {
    top: 20px;
    max-width: 120px;
    padding: 10px;
    font-size: 12px;
  }

  .faq__wrap img {
    width: 100%;
  }
}
