.footer {
  margin-top: auto;
  background: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(211, 134, 226, 0.2) 76.88%,
    rgba(252, 124, 217, 0.2) 100%
  );
}
.wrapp-top {
  padding-block: 60px 40px;
  border-bottom: 1px solid #d3cbd9;
}

.footer-container--top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  padding: 0;
}
.footer__item {
  list-style: none;
}
.footer__link {
  text-decoration: none;

  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;

  transition: color 0.3s;
}

.footer__link:hover {
  color: #3596ed;
}
.footer__container--bottom {
  padding-block: 40px;
}
.pooter__copyright {
  text-align: center;

  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #858e8a;
}
